@page "/WebAPIEx/WeatherInfo"
@inject WeatherService service
<h3>WeatherInfo</h3>
<hr />
<h3>Param</h3>
<EditForm Model="Input" OnValidSubmit="@GetStringResult">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>serviceKey</label>
        <InputText @bind-Value="Input.ServiceKey" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>pageNo</label>
        <InputNumber @bind-Value="Input.PageNo" class="form-control" />
    </div>
    <div class="form-group">
        <label>numOfRows</label>
        <InputNumber @bind-Value="Input.NumOfRows" class="form-control" />
    </div>
    <div class="form-group">
        <label>dataType</label>
        @foreach (var radioitem in radios)
        {
            <input type="radio" name="itemRadio" checked="@(Input.DataType == radioitem.Value)"
                   @onchange="(() => Input.DataType = radioitem.Value)" />@radioitem.Text
            }
    </div>
    <div class="form-group">
        <label>stnId</label>
        <InputNumber @bind-Value="Input.StnId" class="form-control" />
    </div>
    <div class="form-group">
        <label>fromTmFc</label>
        <InputDate @bind-Value="Input.FromTmFc" class="form-control" />
    </div>
    <div class="form-group">
        <label>toTmFc</label>
        <InputDate @bind-Value="Input.ToTmFc" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Get string</button>
    <button type="button" class="btn btn-primary" @onclick="GetListResult">Get list</button>
</EditForm>
<hr />


@if (isSubmit)
{
    <h3>result</h3>
    if (isString)
    {
        @resultStr
    }
    else
    {
        <table class="rable table-striped table-sm">
            <tr>
                <th>Title</th>
                <th>StnId</th>
                <th>TmSeq</th>
                <th>TmFc</th>
            </tr>
            @foreach (var item in resultList)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.StnId</td>
                    <td>@item.TmSeq</td>
                    <td>@item.TmFc</td>
                </tr>
            }
        </table>
    }
}

@code {
    private bool isSubmit = false;
    private bool isString;
    private string resultStr;
    private List<WeatherInfoResult> resultList;

    public WeatherInfoParam Input = new WeatherInfoParam()
    {
        ServiceKey = "ZHRIEP5M9xrkaouaqE7pMzTjLHk5Fp9Wtye%2BqX021ComSMLbHpr54r7aevlMOJxNLf6qKP%2BBhWV8R9Q2PbCzaQ%3D%3D",
        PageNo = 1,
        NumOfRows = 20,
        DataType = "JSON",
        StnId = 184,
        FromTmFc = DateTime.Now.AddDays(-5),
        ToTmFc = DateTime.Now
    };

    RadioModel[] radios = new[]
    {
        new RadioModel {Value= "JSON", Text="JSON"},
        new RadioModel {Value= "XML", Text="XML"},
    };


    private async Task GetStringResult()
    {
        resultStr = await service.GetWthrWrnListStr(Input);
        isSubmit = true;
        isString = true;
    }

    private async Task GetListResult()
    {
        resultList = await service.GetWthrWrnList(Input);
        isSubmit = true;
        isString = false;
    }
}
