@* Design From https://bootsnipp.com/snippets/Q0dAX *@
@inject NavMenuService navServices
<div class="page-wrapper chiller-theme toggled">
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>Example</span>
                    </li>
                    @*@foreach (var liItem in navServices.GetNavMenuService())
        {
            <NavComponent navMenu="@liItem"/>
        }*@
                    <li>
                        <NavLink href="AnimateEx">AnimateEx</NavLink>
                    </li>
                    <li class="sidebar-dropdown @ComponentSideBarCSS">
                        <NavLink @onclick="ShowComponentSideMenu">ComponentsEx</NavLink>
                        <div class="sidebar-submenu @ComponentSubMenuCSS">
                            <ul>
                                <li>
                                    <NavLink href="/ComponentEx/ComponentObjectParameter">ComponentObjectParameter</NavLink>
                                </li>
                                <li>
                                    <NavLink href="/ComponentEx/ComponentWithRef">ComponentWithRef</NavLink>
                                </li>
                                <li>
                                    <NavLink href="/ComponentEx/EventCallbacks">EventCallbacks</NavLink>
                                </li>
                                <li>
                                    <NavLink href="/ComponentEx/CascadingValues">CascadingValues</NavLink>
                                </li>
                                <li>
                                    <NavLink href="/ComponentEx/StateContainer">StateContainer</NavLink>
                                </li>
                                <li>
                                    <NavLink href="/ComponentEx/StateContainerWithComponent">StateContainerWithComponent</NavLink>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <NavLink href="CookieEx">CookieEx</NavLink>
                    </li>
                    <li class="sidebar-dropdown @DBSideBarCSS">
                        <NavLink @onclick="ShowDBSideMenu">DBEx</NavLink>
                        <div class="sidebar-submenu @DBSubMenuCSS">
                            <ul>
                                <li>
                                    <NavLink href="DBEx/GetGroupList">Get Group List</NavLink>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <NavLink href="GenericEx">GenericEx</NavLink>
                    </li>
                    <li>
                        <NavLink href="GetFileListEx">GetFileListEx</NavLink>
                    </li>
                    <li class="sidebar-dropdown @inputSideBarCSS">
                        <NavLink @onclick="ShowInputSideMenu">InputEx</NavLink>
                        <div class="sidebar-submenu @inputSubMenuCSS">
                            <ul>
                                <li>
                                    <NavLink href="counter">Text, Selection</NavLink>
                                </li>
                                <li>
                                    <NavLink href="counter">Radio, Checkbox</NavLink>
                                </li>
                                <li>
                                    <NavLink href="counter">Separated link</NavLink>
                                </li>
                                <li>
                                    <NavLink href="counter">One more separated link</NavLink>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <NavLink href="JsonEx">JsonEx</NavLink>
                    </li>
                    <li>
                        <NavLink href="LogEx">LogEx</NavLink>
                    </li>
                    <li>
                        <NavLink href="OptionPatternEx">OptionPatternEx</NavLink>
                    </li>
                    <li>
                        <NavLink href="SessionEx">SessionEx</NavLink>
                    </li>
                    <li>
                        <NavLink href="SettingsEx">SettingsEx</NavLink>
                    </li>
                    <li>
                        <NavLink href="WebAPIEx">WebAPIEx</NavLink>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
    </nav>
</div>

@code { 
    private bool isShowForComponentSubMenu = false;
            private string ComponentSubMenuCSS => setDisplay(isShowForComponentSubMenu);
            private string ComponentSideBarCSS => setActive(isShowForComponentSubMenu);

            private bool isShowForDBSubMenu = false;
            private string DBSubMenuCSS => setDisplay(isShowForDBSubMenu);
            private string DBSideBarCSS => setActive(isShowForDBSubMenu);

            private bool isShowForInputSubMenu = false;
            private string inputSubMenuCSS => setDisplay(isShowForInputSubMenu);
            private string inputSideBarCSS => setActive(isShowForInputSubMenu);

            #region Show Method
            protected void ShowComponentSideMenu()
            {
                isShowForComponentSubMenu = !isShowForComponentSubMenu;
            }

            protected void ShowDBSideMenu()
            {
                isShowForDBSubMenu = !isShowForDBSubMenu;
            }

            protected void ShowInputSideMenu()
            {
                isShowForInputSubMenu = !isShowForInputSubMenu;
            }
            #endregion Show Method

            protected string setDisplay(bool isShow)
            {
                return isShow ? "display" : "hidden";
            }

            protected string setActive(bool isShow)
            {
                return isShow ? "active" : string.Empty;
            } }
